/* UI Components */
:root {
  --padding: 0rem;
  --global-sizes-icon-dropdown: 0.875rem;
  --global-sizes-icon-size: 1rem;
  --theloop-accordion-h-padding: 0.5rem;
  --theloop-accordion-v-padding: 0.5rem;
  --theloop-accordion-icon-size: 0.75rem;
  --theloop-accordion-label-large: 0.75rem;
  --theloop-accordion-label-small: 0.75rem;
  --theloop-accordion-label-line-height: 0.9375rem;
  --theloop-accordion-v-gap: 1.25rem;
  --theloop-avatar-and-initals-b-padding: 0.1875rem;
  --theloop-avatar-and-initals-t-padding: 0.1875rem;
  --theloop-avatar-and-initals-l-padding: 0.25rem;
  --theloop-avatar-and-initals-r-padding: 0.75rem;
  --theloop-avatar-and-initals-size-w: 1.25rem;
  --theloop-avatar-and-initals-label-letter-spacing: 0.0312rem;
  --theloop-avatar-and-initals-label-font-size: 0.5625rem;
  --theloop-avatar-and-initals-label-font-weight: 43.75rem;
  --theloop-button-multimedia-icon: 1.25rem;
  --theloop-button-multimedia-v-padding-right: 1.25rem;
  --theloop-button-multimedia-h-padding: 1.375rem;
  --theloop-button-multimedia-v-padding-left: 1.5rem;
  --theloop-button-multimedia-circle: 2rem;
  --theloop-card-image-radius: 0rem;
  --theloop-card-image-radius-2: 0rem;
  --theloop-checkbox-border-radius: var(--lift-border-radius-base);
  --theloop-checkbox-gap: 0.25rem;
  --theloop-checkbox-icon-height: 1rem;
  --theloop-checkbox-icon-width: 1rem;
  --theloop-checkbox-label-letter-spacing: 0rem;
  --theloop-checkbox-label-font-size: 0.8125rem;
  --theloop-checkbox-label-line-height: 0.8125rem;
  --theloop-checkbox-label-font-weight: 25rem;
  --theloop-circle-icon-headline-status: 0.5rem;
  --theloop-circle-icon-light-status: 0.625rem;
  --theloop-close-modal-right-padding: 1rem;
  --theloop-close-modal-top-padding: 1rem;
  --theloop-exp-collapse-icon: 0.5rem;
  --theloop-exp-collapse-h-padding: 0.75rem;
  --theloop-exp-collapse-v-padding: 0.75rem;
  --theloop-exp-collapse-circle: 2rem;
  --theloop-field-placeholder-v-padding: 0.125rem;
  --theloop-field-right-icon-v-gap: 0.125rem;
  --theloop-field-h-gap: 0.375rem;
  --theloop-field-v-padding: 0.6875rem;
  --theloop-field-x-mark-icon-size: 0.75rem;
  --theloop-field-icon-size: 1rem;
  --theloop-field-h-padding-left: 1rem;
  --theloop-field-h-padding-right: 1rem;
  --theloop-field-border-radius: var(--border-radius-x-large);
  --theloop-helper-gap: 0.25rem;
  --theloop-helper-icon: 0.75rem;
  --theloop-icon-icon: 1rem;
  --theloop-icon-and-flag-b-padding: 0.375rem;
  --theloop-icon-and-flag-t-padding: 0.375rem;
  --theloop-icon-and-flag-v-padding: 0.375rem;
  --theloop-icon-and-flag-h-padding: 0.75rem;
  --theloop-icon-and-flag-size: 1rem;
  --theloop-icon-and-flag-flag-h: 1.125rem;
  --theloop-icon-and-flag-flag-w: 1.575rem;
  --theloop-label-letter-space: 0.0156rem;
  --theloop-label-letter-spacing: 0.0156rem;
  --theloop-label-gap: 0.25rem;
  --theloop-label-line-heigh: 0.5625rem;
  --theloop-label-font-size: 0.8125rem;
  --theloop-label-line-height: 1rem;
  --theloop-label-font-weight: 37.5rem;
  --theloop-label-font-weight-selected: 43.75rem;
  --theloop-metatag-cloud-icon: 1rem;
  --theloop-modal-side-padding: 2rem;
  --theloop-numbers-size: 1.5rem;
  --theloop-numeric-letter-spacing: 0rem;
  --theloop-numeric-font-size: 1rem;
  --theloop-numeric-line-height: 1rem;
  --theloop-numeric-font-weight: 37.5rem;
  --theloop-pagination-circle: 2rem;
  --theloop-placeholder-text-field-letter-spacing: 0.0156rem;
  --theloop-placeholder-text-field-font-size: 0.8125rem;
  --theloop-placeholder-text-field-line-height: 0.875rem;
  --theloop-placeholder-text-field-font-weight: 25rem;
  --theloop-radio-button-vpadding: 0.125rem;
  --theloop-radio-button-gap: 0.25rem;
  --theloop-radio-button-height: 1rem;
  --theloop-radio-button-width: 1rem;
  --theloop-search-bar-icon-gap: 0.5rem;
  --theloop-search-bar-v-padding: 0.6875rem;
  --theloop-search-bar-h-padding: 1rem;
  --theloop-share-icon-size: 1rem;
  --theloop-share-size: 2rem;
  --theloop-status-badge-v-padding: 0.1875rem;
  --theloop-status-badge-h-gap: 0.375rem;
  --theloop-status-badge-h-padding-left: 0.5rem;
  --theloop-status-badge-dot-size: 0.625rem;
  --theloop-status-badge-icon-size: 1rem;
  --theloop-status-badge-h-padding-right: 1.125rem;
  --theloop-status-badge-label-font-size: 0.875rem;
  --theloop-status-badge-label-line-height: 1.25rem;
  --theloop-status-badge-label-font-weight: 25rem;
  --theloop-tabs-icon-size: 1rem;
  --theloop-tabs-label-letter-spacing: 0rem;
  --theloop-tabs-label-line-heigh: 0.875rem;
  --theloop-tabs-label-size: 0.875rem;
  --theloop-tabs-label-font-weight: 43.75rem;
  --theloop-tag-h-gap: 0.25rem;
  --theloop-tag-v-gap: 0.375rem;
  --theloop-tag-v-padding: 0.375rem;
  --theloop-tag-h-padding: 0.75rem;
  --theloop-tag-has-initials: 1.25rem;
  --theloop-tag-border-raduis: 3.125rem;
  --theloop-tag-label-letter-space: 0.0156rem;
  --theloop-tag-label-font-size: 0.875rem;
  --theloop-tag-label-line-heigh: 0.875rem;
  --theloop-tag-label-font-weight: 25rem;
  --theloop-tags-v-padding: 0.125rem;
  --theloop-text-area-letter-spacing: 0rem;
  --theloop-text-area-font-size: 0.875rem;
  --theloop-text-area-line-height: 1.3125rem;
  --theloop-text-area-font-weight: 25rem;
  --theloop-text-field-letter-spacing: 0.0156rem;
  --theloop-text-field-font-size: 0.8125rem;
  --theloop-text-field-line-height: 0.875rem;
  --theloop-text-field-font-weight: 25rem;
  --theloop-text-wapper-v-padding: 0.0625rem;
  --theloop-toggle-icon: 0.75rem;
  --theloop-toggle-circle: 1.25rem;
  --theloop-toggle-label-letter-spacing: 0rem;
  --theloop-toggle-label-font-size: 0.875rem;
  --theloop-toggle-label-line-height: 0.875rem;
  --theloop-toggle-label-font-weight: 25rem;
  --theloop-truck-height: 1.5rem;
  --theloop-truck-width: 3rem;
  --theloop-button-gap: 0.375rem;
  --theloop-button-v-padding: 0.5rem;
  --theloop-button-h-padding: 1.25rem;
  --theloop-button-h-padding-right: 1.5rem;
  --theloop-button-border-radius: var(--border-radius-x-large);
  --theloop-button-icon-icon-wapper-h-padding: 0.25rem;
  --theloop-button-icon-icon-wapper-v-padding: 0.25rem;
  --theloop-button-icon-v-padding: 0.5625rem;
  --theloop-button-icon-h-padding: 0.8125rem;
  --theloop-button-icon-size-large: 0.875rem;
  --theloop-button-icon-size-small: 0.875rem;
  --theloop-button-label-letter-spacing: -0.0312rem;
  --theloop-button-label-v-padding: 0rem;
  --theloop-button-label-font-size: 0.75rem;
  --theloop-button-label-line-height: 1.5rem;
  --theloop-button-label-font-weight: 700;
  --theloop-button-text-label-font: 0.75rem;
  --theloop-images-corner-radius: 0.25rem;

}
@media (width >= 768px) {
  :root {
   --padding: 0rem;
  --global-sizes-icon-dropdown: 1rem;
  --global-sizes-icon-size: 1.125rem;
  --theloop-accordion-h-padding: 0.5rem;
  --theloop-accordion-v-gap: 1rem;
  --theloop-accordion-icon-size: 1.125rem;
  --theloop-accordion-label-large: 1.5rem;
  --theloop-accordion-label-small: 1.5rem;
  --theloop-accordion-v-padding: 1.5rem;
  --theloop-accordion-label-line-height: 1.875rem;
  --theloop-avatar-and-initals-b-padding: 0.25rem;
  --theloop-avatar-and-initals-l-padding: 0.25rem;
  --theloop-avatar-and-initals-t-padding: 0.25rem;
  --theloop-avatar-and-initals-r-padding: 0.75rem;
  --theloop-avatar-and-initals-size-w: 1.5rem;
  --theloop-avatar-and-initals-label-letter-spacing: 0.0156rem;
  --theloop-avatar-and-initals-label-font-size: 0.625rem;
  --theloop-avatar-and-initals-label-font-weight: 43.75rem;
  --theloop-button-multimedia-icon: 1.25rem;
  --theloop-button-multimedia-v-padding-right: 1.5rem;
  --theloop-button-multimedia-h-padding: 1.625rem;
  --theloop-button-multimedia-v-padding-left: 1.75rem;
  --theloop-button-multimedia-circle: 2.5rem;
  --theloop-card-image-radius: 0rem;
  --theloop-card-image-radius-2: 0rem;
  --theloop-checkbox-border-radius: var(--lift-border-radius-base);
  --theloop-checkbox-gap: 0.5rem;
  --theloop-checkbox-icon-height: 1.25rem;
  --theloop-checkbox-icon-width: 1.25rem;
  --theloop-checkbox-label-letter-spacing: 0rem;
  --theloop-checkbox-label-font-size: 0.875rem;
  --theloop-checkbox-label-line-height: 0.875rem;
  --theloop-checkbox-label-font-weight: 25rem;
  --theloop-circle-icon-headline-status: 0.625rem;
  --theloop-circle-icon-light-status: 0.75rem;
  --theloop-close-modal-right-padding: 1.25rem;
  --theloop-close-modal-top-padding: 1.25rem;
  --theloop-exp-collapse-icon: 0.625rem;
  --theloop-exp-collapse-h-padding: 0.75rem;
  --theloop-exp-collapse-v-padding: 0.75rem;
  --theloop-exp-collapse-circle: 2.5rem;
  --theloop-field-placeholder-v-padding: 0.125rem;
  --theloop-field-right-icon-v-gap: 0.125rem;
  --theloop-field-h-gap: 0.5rem;
  --theloop-field-v-padding: 0.875rem;
  --theloop-field-h-padding-left: 1rem;
  --theloop-field-h-padding-right: 1rem;
  --theloop-field-x-mark-icon-size: 1rem;
  --theloop-field-icon-size: 1.25rem;
  --theloop-field-border-radius: var(--border-radius-x-large);
  --theloop-helper-gap: 0.25rem;
  --theloop-helper-icon: 0.75rem;
  --theloop-icon-icon: 1.25rem;
  --theloop-icon-and-flag-v-padding: 0.25rem;
  --theloop-icon-and-flag-b-padding: 0.375rem;
  --theloop-icon-and-flag-t-padding: 0.375rem;
  --theloop-icon-and-flag-h-padding: 0.75rem;
  --theloop-icon-and-flag-size: 1.125rem;
  --theloop-icon-and-flag-flag-h: 1.25rem;
  --theloop-icon-and-flag-flag-w: 1.75rem;
  --theloop-label-letter-space: 0.0156rem;
  --theloop-label-letter-spacing: 0.0156rem;
  --theloop-label-gap: 0.25rem;
  --theloop-label-line-heigh: 0.625rem;
  --theloop-label-font-size: 0.875rem;
  --theloop-label-line-height: 1rem;
  --theloop-label-font-weight: 37.5rem;
  --theloop-label-font-weight-selected: 43.75rem;
  --theloop-metatag-cloud-icon: 1.125rem;
  --theloop-modal-side-padding: 2.5rem;
  --theloop-numbers-size: 2rem;
  --theloop-numeric-letter-spacing: 0rem;
  --theloop-numeric-font-size: 1.125rem;
  --theloop-numeric-line-height: 1.125rem;
  --theloop-numeric-font-weight: 37.5rem;
  --theloop-pagination-circle: 2.5rem;
  --theloop-placeholder-text-field-letter-spacing: 0.0156rem;
  --theloop-placeholder-text-field-font-size: 0.875rem;
  --theloop-placeholder-text-field-line-height: 1rem;
  --theloop-placeholder-text-field-font-weight: 25rem;
  --theloop-radio-button-vpadding: 0.125rem;
  --theloop-radio-button-gap: 0.5rem;
  --theloop-radio-button-height: 1.125rem;
  --theloop-radio-button-width: 1.125rem;
  --theloop-search-bar-icon-gap: 0.5rem;
  --theloop-search-bar-h-padding: 1rem;
  --theloop-search-bar-v-padding: 1rem;
  --theloop-share-icon-size: 1.25rem;
  --theloop-share-size: 2.5rem;
  --theloop-status-badge-v-padding: 0.25rem;
  --theloop-status-badge-h-gap: 0.375rem;
  --theloop-status-badge-dot-size: 0.75rem;
  --theloop-status-badge-h-padding-left: 0.75rem;
  --theloop-status-badge-icon-size: 1.125rem;
  --theloop-status-badge-h-padding-right: 1.125rem;
  --theloop-status-badge-label-font-size: 1rem;
  --theloop-status-badge-label-line-height: 1.25rem;
  --theloop-status-badge-label-font-weight: 25rem;
  --theloop-tabs-icon-size: 1.125rem;
  --theloop-tabs-label-letter-spacing: -0.0078rem;
  --theloop-tabs-label-line-heigh: 1rem;
  --theloop-tabs-label-size: 1rem;
  --theloop-tabs-label-font-weight: 43.75rem;
  --theloop-tag-h-gap: 0.25rem;
  --theloop-tag-v-gap: 0.375rem;
  --theloop-tag-v-padding: 0.5rem;
  --theloop-tag-h-padding: 0.75rem;
  --theloop-tag-has-initials: 1.5rem;
  --theloop-tag-border-raduis: 3.125rem;
  --theloop-tag-label-letter-space: 0.0156rem;
  --theloop-tag-label-font-size: 1rem;
  --theloop-tag-label-line-heigh: 1rem;
  --theloop-tag-label-font-weight: 25rem;
  --theloop-tags-v-padding: 0.25rem;
  --theloop-text-area-letter-spacing: 0rem;
  --theloop-text-area-font-size: 1rem;
  --theloop-text-area-line-height: 1.5rem;
  --theloop-text-area-font-weight: 25rem;
  --theloop-text-field-letter-spacing: 0.0156rem;
  --theloop-text-field-font-size: 0.875rem;
  --theloop-text-field-line-height: 1rem;
  --theloop-text-field-font-weight: 25rem;
  --theloop-text-wapper-v-padding: 0.25rem;
  --theloop-toggle-icon: 1rem;
  --theloop-toggle-circle: 1.75rem;
  --theloop-toggle-label-letter-spacing: 0rem;
  --theloop-toggle-label-font-size: 1rem;
  --theloop-toggle-label-line-height: 1rem;
  --theloop-toggle-label-font-weight: 25rem;
  --theloop-truck-height: 2rem;
  --theloop-truck-width: 4rem;
  --theloop-button-gap: 0.375rem;
  --theloop-button-v-padding: 0.75rem;
  --theloop-button-h-padding-right: 1.5rem;
  --theloop-button-h-padding: 1.75rem;
  --theloop-button-border-radius: var(--border-radius-x-large);
  --theloop-button-icon-icon-wapper-h-padding: 0.125rem;
  --theloop-button-icon-icon-wapper-v-padding: 0.125rem;
  --theloop-button-icon-v-padding: 0.875rem;
  --theloop-button-icon-h-padding: 1rem;
  --theloop-button-icon-size-large: 1rem;
  --theloop-button-icon-size-small: 1rem;
  --theloop-button-label-letter-spacing: -0.0312rem;
  --theloop-button-label-v-padding: 0rem;
  --theloop-button-label-font-size: 0.875rem;
  --theloop-button-label-line-height: 1.5rem;
  --theloop-button-label-font-weight: 700;
  --theloop-button-text-label-font: 0.875rem;
  --theloop-images-corner-radius: 0.5rem;
  }
}
@media (width >= 1024px) {
  :root {
     --padding: 0rem;
  --global-sizes-icon-dropdown: 0.75rem;
  --global-sizes-icon-size: 0.875rem;
  --theloop-accordion-h-padding: 0.5rem;
  --theloop-accordion-icon-size: 1rem;
  --theloop-accordion-v-gap: 1rem;
  --theloop-accordion-label-small: 1.5rem;
  --theloop-accordion-v-padding: 1.5rem;
  --theloop-accordion-label-large: 2rem;
  --theloop-accordion-label-line-height: 2.5rem;
  --theloop-avatar-and-initals-b-padding: 0.25rem;
  --theloop-avatar-and-initals-l-padding: 0.25rem;
  --theloop-avatar-and-initals-t-padding: 0.25rem;
  --theloop-avatar-and-initals-r-padding: 0.75rem;
  --theloop-avatar-and-initals-size-w: 1rem;
  --theloop-avatar-and-initals-label-letter-spacing: 0.0469rem;
  --theloop-avatar-and-initals-label-font-size: 0.5rem;
  --theloop-avatar-and-initals-label-font-weight: 43.75rem;
  --theloop-button-multimedia-icon: 1.875rem;
  --theloop-button-multimedia-v-padding-right: 1.9375rem;
  --theloop-button-multimedia-h-padding: 2.0625rem;
  --theloop-button-multimedia-v-padding-left: 2.1875rem;
  --theloop-button-multimedia-circle: 4.5rem;
  --theloop-card-image-radius: 2.5rem;
  --theloop-card-image-radius-2: 2.5rem;
  --theloop-checkbox-border-radius: var(--lift-border-radius-base);
  --theloop-checkbox-gap: 0.5rem;
  --theloop-checkbox-icon-height: 1.375rem;
  --theloop-checkbox-icon-width: 1.375rem;
  --theloop-checkbox-label-letter-spacing: 0rem;
  --theloop-checkbox-label-font-size: 1rem;
  --theloop-checkbox-label-line-height: 1rem;
  --theloop-checkbox-label-font-weight: 25rem;
  --theloop-circle-icon-headline-status: 0.625rem;
  --theloop-circle-icon-light-status: 0.75rem;
  --theloop-close-modal-right-padding: 1.25rem;
  --theloop-close-modal-top-padding: 1.25rem;
  --theloop-exp-collapse-icon: 0.75rem;
  --theloop-exp-collapse-h-padding: 0.75rem;
  --theloop-exp-collapse-v-padding: 0.75rem;
  --theloop-exp-collapse-circle: 2.75rem;
  --theloop-field-placeholder-v-padding: 0.125rem;
  --theloop-field-right-icon-v-gap: 0.125rem;
  --theloop-field-h-gap: 0.5rem;
  --theloop-field-h-padding-left: 1rem;
  --theloop-field-h-padding-right: 1rem;
  --theloop-field-x-mark-icon-size: 1rem;
  --theloop-field-v-padding: 1.125rem;
  --theloop-field-icon-size: 1.25rem;
  --theloop-field-border-radius: var(--border-radius-x-large);
  --theloop-helper-gap: 0.25rem;
  --theloop-helper-icon: 0.75rem;
  --theloop-icon-icon: 1.375rem;
  --theloop-icon-and-flag-b-padding: 0rem;
  --theloop-icon-and-flag-flag-h: 0rem;
  --theloop-icon-and-flag-flag-w: 0rem;
  --theloop-icon-and-flag-t-padding: 0rem;
  --theloop-icon-and-flag-v-padding: 0.25rem;
  --theloop-icon-and-flag-h-padding: 0.75rem;
  --theloop-icon-and-flag-size: 0.875rem;
  --theloop-label-letter-space: 0.0312rem;
  --theloop-label-letter-spacing: 0.0312rem;
  --theloop-label-gap: 0.25rem;
  --theloop-label-line-heigh: 0.5rem;
  --theloop-label-font-size: 1rem;
  --theloop-label-line-height: 1rem;
  --theloop-label-font-weight: 37.5rem;
  --theloop-label-font-weight-selected: 43.75rem;
  --theloop-metatag-cloud-icon: 1.125rem;
  --theloop-modal-side-padding: 3rem;
  --theloop-numbers-size: 1.25rem;
  --theloop-numeric-letter-spacing: 0rem;
  --theloop-numeric-font-size: 1rem;
  --theloop-numeric-line-height: 1.125rem;
  --theloop-numeric-font-weight: 37.5rem;
  --theloop-pagination-circle: 3rem;
  --theloop-placeholder-text-field-letter-spacing: 0.0312rem;
  --theloop-placeholder-text-field-font-size: 1rem;
  --theloop-placeholder-text-field-line-height: 1rem;
  --theloop-placeholder-text-field-font-weight: 25rem;
  --theloop-radio-button-vpadding: 0.125rem;
  --theloop-radio-button-gap: 0.5rem;
  --theloop-radio-button-height: 1rem;
  --theloop-radio-button-width: 1rem;
  --theloop-search-bar-icon-gap: 0.5rem;
  --theloop-search-bar-h-padding: 1rem;
  --theloop-search-bar-v-padding: 1.25rem;
  --theloop-share-icon-size: 1.5rem;
  --theloop-share-size: 3rem;
  --theloop-status-badge-v-padding: 0.125rem;
  --theloop-status-badge-h-gap: 0.25rem;
  --theloop-status-badge-dot-size: 0.5rem;
  --theloop-status-badge-h-padding-left: 0.5rem;
  --theloop-status-badge-h-padding-right: 0.75rem;
  --theloop-status-badge-icon-size: 0.875rem;
  --theloop-status-badge-label-font-size: 0.8125rem;
  --theloop-status-badge-label-line-height: 1.25rem;
  --theloop-status-badge-label-font-weight: 25rem;
  --theloop-tabs-icon-size: 1.375rem;
  --theloop-tabs-label-letter-spacing: -0.0081rem;
  --theloop-tabs-label-line-heigh: 1.25rem;
  --theloop-tabs-label-size: 1.25rem;
  --theloop-tabs-label-font-weight: 43.75rem;
  --theloop-tag-h-gap: 0.25rem;
  --theloop-tag-v-gap: 0.375rem;
  --theloop-tag-v-padding: 0.5rem;
  --theloop-tag-h-padding: 0.75rem;
  --theloop-tag-has-initials: 1.375rem;
  --theloop-tag-border-raduis: 3.125rem;
  --theloop-tag-label-letter-space: 0.0156rem;
  --theloop-tag-label-font-size: 0.8125rem;
  --theloop-tag-label-line-heigh: 0.8125rem;
  --theloop-tag-label-font-weight: 25rem;
  --theloop-tags-v-padding: 0rem;
  --theloop-text-area-letter-spacing: 0.0312rem;
  --theloop-text-area-font-size: 1rem;
  --theloop-text-area-line-height: 1.5rem;
  --theloop-text-area-font-weight: 25rem;
  --theloop-text-field-letter-spacing: 0.0312rem;
  --theloop-text-field-font-size: 1rem;
  --theloop-text-field-line-height: 1rem;
  --theloop-text-field-font-weight: 25rem;
  --theloop-text-wapper-v-padding: 0.0938rem;
  --theloop-toggle-icon: 0.5rem;
  --theloop-toggle-circle: 0.75rem;
  --theloop-toggle-label-letter-spacing: 0.0156rem;
  --theloop-toggle-label-font-size: 0.75rem;
  --theloop-toggle-label-line-height: 0.75rem;
  --theloop-toggle-label-font-weight: 25rem;
  --theloop-truck-height: 1rem;
  --theloop-truck-width: 2rem;
  --theloop-button-gap: 0.375rem;
  --theloop-button-v-padding: 1rem;
  --theloop-button-h-padding-right: 1.5rem;
  --theloop-button-border-radius: var(--border-radius-x-large);
  --theloop-button-h-padding: 2rem;
  --theloop-button-icon-icon-wapper-h-padding: 0.125rem;
  --theloop-button-icon-icon-wapper-v-padding: 0.125rem;
  --theloop-button-icon-v-padding: 1.0625rem;
  --theloop-button-icon-size-small: 1.125rem;
  --theloop-button-icon-h-padding: 1.1875rem;
  --theloop-button-icon-size-large: 1.25rem;
  --theloop-button-label-letter-spacing: -0.0312rem;
  --theloop-button-label-v-padding: 0rem;
  --theloop-button-label-font-size: 1rem;
  --theloop-button-label-line-height: 1.5rem;
  --theloop-button-label-font-weight: 700;
  --theloop-button-text-label-font: 1rem;
  --theloop-images-corner-radius: 0.5rem;
  }
}

.auto-image-container picture img {
  height: 272px;
  object-fit: cover;
  object-position: 20%;
  border-radius: 8px 8px 0px 0px;
}

.auto-image-container-v1 {
  margin: var(--spacing-none);
}

.auto-image-container-v1 picture img {
  width: 100%;
          border-radius: 8px 8px 0px 0px;


}
  @media (width <=390px) {
    .auto-image-container-v1 picture img {
    height: 272px;
    object-fit: cover;
            border-radius: 8px 8px 0px 0px;
  }
}